apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned
  annotations:
    # Wave 0 (default) is for the Deployment/Pods/CRDs.
    # Deploy this resource only after Wave 0 is Healthy.
    argocd.argoproj.io/sync-wave: "1" 
    
    # Optional: Prevents ArgoCD from failing the dry-run if the CRD 
    # hasn't technically been registered in the cluster yet.
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  selfSigned: {}
